
table, th, td {
          border: 1px solid black;
          padding: 10px;
          background-color:lightpink;
        }
        table {
          border-spacing: 10 px;
          margin:20px auto;
          box-shadow:3px 3px;
        }
h1{
  text-align:center;
  text-decoration:underline
}
